//BREAK POINTS

$tablet: 768px;
$desktop: 1024px;

// FONT

$tittle: 'Press Start 2P', cursive;
$main: 'VT323', monospace;

// COLOR

$color-light: #ffffff;
$color-light-midtone: #bdc5ca;
$color-midtone: #a7a7a7;
$color-midtone-dark: #252525;
$color-dark: #000000;

$color-secondary: #afdfd7;
