//BREAK POINTS

$tablet: 768px;
$desktop: 1280px;

// FONT

$tittle: 'Press Start 2P', cursive;
$main: 'VT323', monospace;

// COLOR

$color-light: #ffffff;
$color-light-midtone: #bdc5ca;
$color-midtone: #a7a7a7;
$color-midtone-dark: #252525;
$color-dark: #000000;

$color-primary: #9ca4adc7;
$color-primary-low-oppacity: #9ca4ad20;
$color-secondary: #544d8f;
$color-tertiary: rgb(62, 62, 168);
